html
{
  overflow: hidden;
  FF fix;
  height: 100%;
  font-family: Geneva, sans-serif;
}
body
{
  font-family: 'PT Sans', Verdana, Tahoma, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 21px;
  min-width: 950px;
  font-size: 13px;
  font-family: PT Sans, Arial;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  /*text-align: center;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  background: hsl(210, 30%, 0%) radial-gradient(hsl(238, 75%, 19%), hsl(0, 0%, 0%));
}
body.AnErrorHasOccured
{
  background: hsl(210, 30%, 0%) radial-gradient(hsl(238, 75%, 19%), hsl(0, 0%, 0%));
}
body.AnErrorHasOccureds
{
  background: hsl(0, 0%, 0%) radial-gradient(hsl(0, 0%, 0%), hsl(235, 92%, 5%));
}
.Wrapper
{
  width: 960px;
  margin: 0 auto;
  padding-bottom: 10px;
}
a
{
  text-decoration: none;
  outline: 0;
}
a:hover
{
  text-decoration: underline;
}
hr
{
  display: block;
  border: none;
  outline: 0;
  height: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.rs
{
  float: right !important;
}
.ls
{
  float: left !important;
}
.small
{
  font-size: 75%;
}
#responsive_navigation
{
  display: none;
}
.alignleft
{
  margin: 0 20px 20px 0;
  float: left;
}
.alignright
{
  margin: 0 0 20px 20px;
  float: right;
}
.aligncenter,
.alignnone
{
  margin: 0 20px 0 0;
}
.wp-caption
{
  background: 0 0;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 8px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone
{
  margin: 5px 20px 20px 0;
}
.wp-caption.aligncenter
{
  margin: 5px 10px 20px;
}
.wp-caption.alignleft
{
  margin: 5px 20px 20px 0;
  float: left;
}
.wp-caption.alignright
{
  margin: 5px 0 20px 20px;
}
.wp-caption img
{
  border: none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text
{
  font-size: 11px;
  line-height: 25px;
  margin: 0;
  padding: 5px 10px 0;
}
.row
{
  margin-bottom: 15px;
  width: 100%;
}
.show_cols .col
{
  background: #E8E8E8;
  text-align: center;
}
.show_cols .row:hover .col
{
  background: #C2C2C2;
}
.col
{
  float: left;
  margin-right: 10px;
}
.last
{
  margin-right: 0;
}
.one_sixth
{
  width: 150px;
}
.two_sixth
{
  width: 310px;
}
.three_sixth
{
  width: 470px;
}
.four_sixth
{
  width: 630px;
}
.five_sixth
{
  width: 790px;
}
.one_fourth
{
  width: 230px;
}
.two_fourth
{
  width: 470px;
}
.three_fourth
{
  width: 710px;
}
.one_third
{
  width: 310px;
}
.two_third
{
  width: 630px;
}
.one_second
{
  width: 470px;
}
.one
{
  width: 950px;
  margin-right: 0;
}
.with_aside .one_sixth
{
  width: 110px;
}
.with_aside .two_sixth
{
  width: 230px;
}
.with_aside .three_sixth
{
  width: 350px;
}
.with_aside .four_sixth
{
  width: 470px;
}
.with_aside .five_sixth
{
  width: 590px;
}
.with_aside .one_fourth
{
  width: 170px;
}
.with_aside .two_fourth
{
  width: 350px;
}
.with_aside .three_fourth
{
  width: 530px;
}
.with_aside .one_third
{
  width: 230px;
}
.with_aside .two_third
{
  width: 470px;
}
.with_aside .one_second
{
  width: 350px;
}
.with_aside .one
{
  width: 710px;
}
#Header .top
{
  height: 110px;
  position: relative;
  z-index: 1001;
}
#Header .top h1
{
  margin-bottom: 0;
}
#Header .top #logo
{
  display: block;
  overflow: hidden;
  float: left;
  margin-top: 15px;
  margin-left: 0;
  font-size: 70px;
  line-height: 85px;
  font-weight: 700;
  position: absolute;
}
#Header .top #logo:hover
{
  text-decoration: none;
}
#Header .top_options
{
  position: absolute;
  right: 10px;
  top: 17px;
}
#Header .top_options .call_us
{
  font-weight: 700;
  font-size: 21px;
  padding: 3px 0 6px 35px;
  float: left;
  margin-left: -217px;
  margin-top: 12px;
}
#Header .top_options ul.top_links
{
  float: left;
  margin-left: -306px;
  margin-top: 11px;
}
#Header .top_options ul.top_links li
{
  float: left;
  margin-right: 2px;
  padding: 0px 0;
  background: 0 0;
  /*margin-top: -28px;*/
  margin-top: 2px;
}
#Header .top_options ul.top_links li a
{
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 33px;
  height: 32px;
}
#Header .top_options ul.top_links li.tl1 a
{
  background-position: 0 0;
}
#Header .top_options ul.top_links li.tl1 a:hover
{
  background-position: 0 -32px;
}
#Header .top_options ul.top_links li.tl2 a
{
  background-position: -33px 0;
}
#Header ul.top_links li.tl2 a:hover
{
  background-position: -33px -32px;
}
#Header .top_options ul.top_links li.tl3 a
{
  background-position: -66px 0;
}
#Header .top_options ul.top_links li.tl3 a:hover
{
  background-position: -66px -32px;
}
#Header .top_options ul.top_links li.tl4 a
{
  background-position: -99px 0;
}
#Header .top_options ul.top_links li.tl4 a:hover
{
  background-position: -99px -32px;
}
#Header .top_options ul.top_links li.tl5 a
{
  background-position: -132px 0;
}
#Header .top_options ul.top_links li.tl5 a:hover
{
  background-position: -132px -32px;
}
#Header .top_options ul.top_links li.tl6 a
{
  background-position: -165px 0;
}
#Header .top_options ul.top_links li.tl6 a:hover
{
  background-position: -165px -32px;
}
#Header .top_options ul.top_links li.tl7 a
{
  background-position: -198px 0;
}
#Header .top_options ul.top_links li.tl7 a:hover
{
  background-position: -198px -32px;
}
#Header .top_options ul.top_links li.tl8 a
{
  background-position: -231px 0;
}
#Header .top_options ul.top_links li.tl8 a:hover
{
  background-position: -231px -32px;
}
#Header .top_options ul.top_links li.tl9 a
{
  background-position: -264px 0;
}
#Header .top_options ul.top_links li.tl9 a:hover
{
  background-position: -264px -32px;
}
#Header .top_options ul.top_links li.tl10 a
{
  background-position: -297px 0;
}
#Header .top_options ul.top_links li.tl10 a:hover
{
  background-position: -297px -32px;
}
#navigation
{
  float: right;
  margin-top: 65px;
  position: relative;
  left: 18px;
}
#navigation ul
{
  margin: 0;
}
#navigation ul > li
{
  float: left;
  display: block;
  position: relative;
  padding: 0;
  margin: 0 2px;
  background: 0 0;
  z-index: 1001;
}
#navigation ul > li.hover.submenu
{
  padding-bottom: 8px;
}
#navigation > ul > li > a
{
  display: block;
  padding: 6px 15px;
  font-size: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 0;
}
#navigation ul li.hover > a,
#navigation ul > li a:hover,
#navigation ul > li.active a
{
  text-decoration: none;
}
#navigation ul > li ul
{
  display: none;
  position: absolute;
  z-index: 1002;
  left: 0;
  top: 40px;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 190px;
}
#navigation ul > li.last ul
{
  left: auto;
  right: 0;
}
#navigation ul > li ul li
{
  float: none;
  margin: 0;
  line-height: 0;
  padding: 0 10px;
}
#navigation ul > li ul li.last-item a
{
  border-bottom: 0;
}
#navigation ul > li ul li a
{
  display: block;
  padding: 7px 25px 7px 7px;
  font-size: 14px;
  line-height: 17px;
  float: none;
  width: 138px;
}
#navigation ul > li ul li.hover a
{
  background: 0 0;
}
#navigation ul > li ul li.submenu.hover ul li a
{
  background: 0 0;
}
#navigation ul > li ul li.hover.submenu
{
  padding-bottom: 0;
}
#navigation ul > li ul li ul
{
  display: none;
  position: absolute;
  left: 180px;
  top: -10px;
  padding-left: 0;
}
#navigation ul > li.last ul li ul
{
  right: 180px;
  top: -10px;
}
#navigation ul > li ul li.hover ul li a
{
  background: 0 0;
}
#Offer_slider
{
  margin-top: 15px;
}
#Offer_slider .slides li
{
  width: 950px;
  height: 375px;
  margin: 0;
  background: 0 0;
}
#Offer_slider .slides li .desc,
#Offer_slider .slides li .title
{
  width: 950px;
  height: 375px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  right: -950px;
  top: 0;
}
#Offer_slider .slides li h2
{
  margin: 15px 0 20px 0px;
  font-size: 63px;
  line-height: 70px;
}
#Offer_slider .slides li h2 span
{
  display: block;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}
#Offer_slider .slides li .desc p
{
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 20px;
}
#Offer_slider div.controls
{
  clear: both;
  padding-bottom: 10px;
  height: 136px;
}
#Offer_slider div.controls .header
{
  position: relative;
  float: left;
  width: 140px;
  padding: 0 0 35px 10px;
}
#Offer_slider div.controls h3
{
  margin-top: 10px;
  margin-bottom: 0;
}
#Offer_slider div.controls h2
{
  font-size: 52px;
  position: relative;
  margin-top: -9px;
  margin-left: 17px;
  margin-bottom: 0;
  font-weight: 700;
}
#Offer_slider div.controls .header a #next_arrow,
#Offer_slider div.controls .header a #prev_arrow
{
  width: 29px;
  height: 29px;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
}
#Offer_slider div.controls .header a #prev_arrow
{
  right: 33px;
  bottom: 0;
  background-position: 0 0;
}
#Offer_slider div.controls .header a:hover #prev_arrow
{
  background-position: 0 -29px !important;
}
#Offer_slider div.controls .header a #next_arrow
{
  right: 0;
  bottom: 0;
  background-position: -29px 0 !important;
}
#Offer_slider div.controls .header a:hover #next_arrow
{
  background-position: -29px -29px !important;
}
#Offer_slider div.controls #os_pager
{
  float: left;
  width: 800px;
  height: 146px;
  overflow: hidden;
  position: relative;
}
#Offer_slider div.controls #os_pager > ul
{
  position: absolute;
  margin: 0 0 0 -2px;
}
#Offer_slider div.controls li
{
  width: 120px;
  float: left;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 0;
  margin: 0 20px;
  background: 0 0;
}
#Offer_slider div.controls li a .icon
{
  display: block;
  width: 120px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 0px;
  /*padding-top: 44px;*/
  top: 27px;
}
#Offer_slider div.controls li a:hover,
#Offer_slider div.controls li.activeSlides a
{
  text-decoration: none;
  font-size: 18px;
}
#see_our_works
{
  display: none;
  overflow: hidden;
  text-indent: -9999px;
  width: 144px;
  height: 144px;
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 1;
}
#s
{
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  height: 22px;
  line-height: 13px;
  padding: 4px 10px 4px 30px;
  width: 170px;
}
.widget_search input #respond h3
{
  clear: both;
  font-size: 23px;
}
#respond h3
{
  clear: both;
  font-size: 23px;
  margin-bottom: 5px;
  padding-top: 15px;
}
.comment #respond h3
{
  clear: both;
  font-size: 23px;
  margin-bottom: 5px;
  padding-top: 15px;
}
